.caja{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}
.accesorios{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 100%;
    height: auto;
}
@media all and (max-width: 1020px) {
    .caja{
        grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, auto);
    }
}
/*Tablet y celulares*/
@media only screen and (max-width: 768px) and (min-width: 320px){
    .accesorios{
grid-column-start: 1;
grid-column-end: 1;
    }
    .caja{
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(6, auto);
    }
}