.contenedor{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}
.img{
    width: 100%;
    height: 180px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media all and (max-width: 1020px) {
    .item{
grid-column-start: 1;
grid-column-end: 2;
    }
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, auto);
    }
}
/*celulares*/
@media all and (max-width: 768px) {
    .item{
grid-column-start: 1;
grid-column-end: 1;
    }
    .contenedor{
        grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(6, auto);
    }
}