@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
.compra{
    width: 95%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
    border-radius: 20px;
}
.imagecompra{
    width: 100%;
    height: auto;
    border-radius: 20px;
    justify-content: center;
}
.botonback{
    justify-content: start;
}
.botonnext{
    justify-content: end;
}
.imgcompra{
   flex: 60%;
   width: 60%;
   height: auto;
   border: 2px solid rgb(218, 161, 57);
   border-radius: 20px;
}
.containercompra{
    flex: 40%;
}
.nombre{
    border: 2px solid rgb(218, 161, 57);
    border-radius: 20px;
    background-color: wheat;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-family: 'Alkatra', cursive;
    text-align: center;
    font-size: 35px;
    color: black
}
.cajadescripcion{
    border: 2px solid rgb(218, 161, 57);
    border-radius: 20px;
    background-color: wheat;
}
.titulodescripcion{
    font-family: 'Alkatra', cursive;
    color: black;
    text-align: center;
    font-size: 30px;
    height: auto;
    width: 100%;
}
.descripcion{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 25px;
    height: auto;
    width: 100%;
}
/*celulares*/
@media all and (max-width: 768px) {
.compra{
    flex-direction: column;
}
.nombre{
    font-size: 25px;
}
.descripcion{
    font-size: 15px;
}
.imgcompra{
    width: 100%;
}
}