@import url('https://fonts.googleapis.com/css2? family= Merriweather:ital@1 & display=swap');
*{
    box-sizing: border-box;
}
.contenedor{
  height: 20vh;
  display: flex;
  text-align: center;
  background: white;
  border-radius: 45px;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px grey;
  margin: 20px 10px 20px 10px;
}
.envios, .Tarjeta, .efectivo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 33%;
}
.iconos{
    width: 50px;
    height: 50px;
    color: rgb(114, 36, 36);
}
.pagos{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: rgb(114, 36, 36);
}
@media screen and (max-width: 1020px){
    .contenedor{
        display: none;
    }
}