@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*{
  box-sizing: border-box;
  text-decoration: none;
} 
ul{
    list-style-type: none;
}
.logo{
      width: 100px;
      height: 100px;
}
.titulo{
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    color: #5a5414;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 45px;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px black;
  }
  .nav__brand {
    text-transform: uppercase;
  }
  .textNav{
    font-family: 'Tilt Warp' cursive;
      font-size: 18px;
    color: grey;
    text-decoration: none;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: black;
    transition: 0.3s ease-in;
  }
  
  @media screen and (max-width: 1020px) {
    .nav__toggler {
      display: block;
      cursor: pointer;
    }
    .nav__menu {
      position: fixed;
      top: 7vh;
      right: 0;
      height: 93vh;
      width: 50vw;
      background: rgb(241, 192, 145);
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
    .titulo{
        display: none;
    }
    .logo{
      width: 60px;
      height: 60px;
    }
    .nav{
      height: 60px;
    }
    .titulo{
      font-size: 35px;
    }
  }
  .nav__active {
    transform: translateX(0%);
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
