@import url('https://fonts.googleapis.com/css2? family= Merriweather:ital@1 & display=swap');
.row{
    width: auto;
    margin: 30px auto;
    border: 1px solid grey;
    border-radius:  45px;
    background-image: url(../img/preguntas.png);
    position: center;
    margin: 20px 10px 20px 10px;
}
.preguntas, .respuesta,.dudas{
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 35px;
}
.respuesta, .dudas{
    font-size: 20px;
    display: flex;
}
.dudas{
    color: black;
}
@media only screen and (max-width: 768px) and (min-width: 320px){
    .preguntas{
      font-size: 28px;
    }
    .respuesta, .dudas{
      font-size: 16px;
    }
  }
  
    