@import url('https://fonts.googleapis.com/css2? family= Playfair+Display:wght@500 & display=swap');
.reseña{
  display: block;
  }
.textres{
  height: 400px;
}
@media all and (max-width: 1020px) {
  .reseña{
    display: block;
  }
  .textres{
    height: 250px;
  }
}