.slider {
  height: auto;
  margin: 20px 0 20px 0;
  opacity: 90%;}

.imageslider {
    width:100%;
    position: relative;
  }
  @media all and (max-width: 768px) {
    .slider{
      height: auto;
    }}
  